.schedule-container {
  .react-calendar {
    width: 100%;
    max-width: 700px;
  }
  .react-calendar__tile--active {
    color: #303545;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #303545;
  }
  .seekinggggggg {
    background-color: #10b981;
    border-radius: 9999px;
  }
}
